<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Livraria{% endblock %}</title>
</head>

<body>
    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        {% if session.get('usuario') %}
        <span>Sair ({{ session.usuario }})</span>
        <a href="{{ url_for('logout') }}">Sair</a>
        {% else %}
        <a href="{{ url_for('login') }}">Entrar</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block conteudo %}{% endblock %}
    </div>
</body>

</html>